@import url('https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@1,500&display=swap');

body {
    text-align: center;
    background-color: #F5EDDC;
}

h1 {
    font-family: 'Alegreya', serif;
    font-size: 50px;
}

img {
    border-radius: 10px;
    width: 500px;
    height: auto;
    margin-bottom: 35px;
    /* border: 0.1px solid #343c3c; */
    box-shadow: -7px 12px 20px #888888;
}

li {
    list-style: none;
    margin-bottom: 14px;
}

a {
    text-decoration-color: black;
    color: #3F4E4F;
    font-size: 25px;
}

a:hover {
    text-decoration-color: rgb(255, 199, 45);
    text-decoration-thickness: 5px;
    font-size: 30px;
    color: #343c3c;
}